DATABASE_URL=postgresql://postgres.htuzilcbitnsavtqvuza:password@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres
JWT_SECRET=your-minimum-32-character-secret-key
ADMIN_SETUP_KEY=nayepankh-admin-setup-2026
